@media screen and (max-width: 375px)
{
    body
    {
        width: 100%;
    }
    .header
    {
         width: auto; 
    }
    #logo
    {
        width: auto;
    }
    .navigation
    {
        width: 80%;    
    }
    .navigation nav ul 
    {
        display: flex;
        flex-wrap: wrap-reverse;
                        
    }    
    section
    {
        width: 100%;
        flex-direction: column-reverse;
    }
    .hebergement
    {
        width: auto;        
        flex-direction: column;        
    }
    #hotels
    {
        width: 100%;
        flex-direction: column;
    }
    aside
    {
        width: 100%;
    }
    .filtres
    {
        flex-wrap: wrap;
    }
    #activité
    {
        flex-direction: column;
        margin: 10px;

    }    
    .activites1
    { 
        width: 350px;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;  
    }    
    .activites2
    {    
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;    
    }
    .activites3
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;    
    }
    .activites4
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    .activites5
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    .activites6
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    footer
    {
        width: auto;
        margin: 10px;
    }
    #navfooter
    {        
        flex-direction: column;             
    }
}