@media screen and (max-width: 375px)
{
    body
    {
        width: 100%;
        flex-direction: column;        
    }
    header
    {
         width: auto;
         flex-direction: column;         
    }
    #logo
    {
        width: 30%;        
        padding-top: 10px;        
    }
    #menu
    {        
        justify-content: space-between;
        border-bottom: 3px solid #f2f2f2;            
    }
    #menu a:focus 
    {
    color: #0065fc;
    border-bottom: 3px solid ;
    }
    #navigation
    {        
        flex-direction: column-reverse;       
    }
    #inscription
    {
        width: 20%;
        padding-top: 10px;
        margin-left: 260px;
        margin-top: -45px;
    }
    #titre_principal
    {
        width: auto;
        flex-wrap: wrap;
    }
    .recherche
    {
        width: 90%;
        margin-left: 10px;
    }
    .champs
    {
        width: 75%;
    }
    .bouton
    {
       width: 42px;
       border-radius: 10px;
    }
    section
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    #hotels
    {
        width: 100%;
        height: auto;
        grid-template-columns: 240px;
        grid-template-rows: repeat(6, 185px);
        row-gap: 15px;
    }    
    aside
    {
        width: 100%;
    }
    #filtres
    {
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;        
    }
    #logements
    {
        width: auto;
        align-items: baseline;
        line-height: 20px;
        padding: 10px;
    }
    
    
    .choix
    {
        width: 90%;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: 10px;
    }
    #titre
    {
        margin-left: 10px;
    }
    #checkbox1et2
    {
        width: 100%;
    }
    #checkbox3et4
    {
        width: auto;
        flex-wrap: wrap;
        padding-left: 10px;
        justify-content: flex-start;    
    }
    .checkbox3
    {
        margin-top: 10px;        
    }
    .checkbox4
    {
        margin-top: 10px;        
    }
    #activité
    {
        flex-direction: column;
        margin: 10px;
    }    
    .activites1
    { 
        width: 350px;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;  
    }    
    .activites2
    {    
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;    
    }
    .activites3
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;    
    }
    .activites4
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    .activites5
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    .activites6
    {
        width: 350px ;
        height: 250px ;
        display: grid;
        grid-template:  200px 50px / 350px ;   
    }
    footer
    {
        width: auto;
        height: auto;
        margin: 10px;
    }
    #navfooter
    {        
        width: 100% ;
        height: auto;
        flex-direction: column;             
    }
}