/*css du header fini*/
#header
{
    
    display: flex;
    justify-content: space-between;
}
/*titres et logo fini*/
#titre_principal h1 
{
  
  font-size: 1.5em;
}
h2
{
    
    font-size: 1em;
}
/*navigation fini*/
#header nav ul
{
    
    list-style-type: none;
    display: flex;
    
}
#header  nav li
{
    margin-right: 20px;
}
#header nav a
{
    color: black;
    font-size: 1.2em;
    padding-bottom: 10px;
    text-decoration: none;
} 
#header nav a:hover
{
    color: #0065fc;
    border-top: 3px solid ;
}
/*barre de recherche*/
#recherche
{
    width: 40%;
    display: flex;    
}
input
{      
    border:none;
    padding: 10px 10px 10px 10px ;
    border-radius: 0px 7px 7px 0px;    
    font-size: 1em;
    font-weight: bold;
}
.fa-map-marker-alt
{
    padding: 10px 10px 10px 10px ;
    border-radius: 7px 0px 0px 7px;
    background-color: #f2f2f2;
}
/*ne plus toucher*/
.fa-info
{
    color: #0065fc;
    border-radius: 25px;
    border: 1px solid;
    border-color: #f2f2f2;
    padding: 5px 10px 5px 10px;
}

/*filtre*/
#filtres ul
{
    list-style-type: none;
    display: flex ; 
    width: 65%;
    justify-content: space-around;
    

           
}
.fa-map-marker-alt
{
    border: 1px solid ;
    padding: 10px 10px 10px 10px ;
    border-radius: 5px 0px 0px 5px;
    background-color: #f2f2f2;
}
.fa-money-bill-wave
{
    color: #0065fc;
    background-color: #deebff;
    padding: 8px;
    border-radius: 25px;
}
.fa-child
{
    color: #0065fc;
    background-color: #deebff;
    padding: 8px 10px 8px 10px;
    border-radius: 25px;
}
.fa-heart
{
    color: #0065fc;
    background-color: #deebff;
    padding: 8px;
    border-radius: 25px;
}
.fa-dog
{
    color: #0065fc;
    background-color: #deebff;
    padding: 8px;
    border-radius: 25px;
}
#filtres nav a:hover 
{    
    background-color: #deebff;    
    padding: 8px 0px 8px 0px;
    border-radius: 25px  25px 25px 25px;

    
}
#filtres a:link
{
    text-decoration: none;
    color: black;
}
#filtres nav li
{
    
    border-radius: 25px;
    border: 2px solid #f2f2f2;
}
.resultats
{
    display: flex;
    justify-content: space-around;
}
.hebergement
{
   width: 700px;
   height: 520px;
   display: grid;
   background-color: #f2f2f2;
   border-radius: 15px;
   grid-template:  70px 185px 10px 185px 70px / 25px 210px 10px 210px 10px 210px 25px; 
}
h1
{
   grid-area: 1 / 2 / 2 / 5 ;
   font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;
}
h2
{
    grid-area: 5 / 2 / 6 / 3;
    font-size: 15px;
    padding: 10px 10px 10px 0px;
}

.carte1
{
    width: 210px;
    height: 185px;
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3, 70px);    
    border-radius: 15px ;
    grid-area: 2 / 2 / 3 / 3 ;  

}

.divimg1
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/cannebiere.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 2px solid white;   
}
.info1
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix1
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte2
{
    width: 210px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,70px);    
    border-radius: 15px ; 
    grid-area: 2 / 4 / 4 / 5; 

}

.divimg2
/*debut rengée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/port.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid white; 
}
.info2
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix2
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte3
{
    width: 210px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3, 70px);    
    border-radius: 15px ; 
    grid-area: 2 / 6 / 4 / 7; 

}

.divimg3
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/mouettes.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid white;  
}
.info3
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix3
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte4
{
    width: 210px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,70px);    
    border-radius: 15px ; 
    grid-area: 4 / 2 / 6 / 3; 

}

.divimg4
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/mer.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 2px solid white; 
}
.info4
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix4
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte5
{
    width: 210px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,70px);    
    border-radius: 15px ; 
    grid-area: 4 / 4 / 6 / 5; 

}

.divimg5
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/panier.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 2px solid white; 
}
.info5
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix5
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte6
{
    width: 210px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,70px);    
    border-radius: 15px ; 
    grid-area: 4 / 6 / 6 / 7; 

}

.divimg6
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/amina.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 2px solid white;
}
.info6
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix6
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}

.top
{
    background-color: #f2f2f2;
    height: 520px;
    width: 350px ;
    border-radius: 15px;
    display: grid;
    grid-template: 70px 135px 10px 135px 10px 135px 20px / 25px 150px 150px 25px 
}
.top h1
{
   grid-area: 1 / 2 / 2 / 4 ;
    font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;
}
.topcarte1
{
    width: 300px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 2 / 2 / 3 / 4 ;
    grid-template: 55px 45px 35px / 100px 200px ;
    border-radius: 15px;

}
.topimg1
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/soleil\ du\ matin.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid white;
}
.topinfo1
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix1
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}
.topcarte2
{
    width: 300px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 4 / 2 / 5 / 4 ;
    grid-template: 55px 45px 35px / 100px 200px ;
    border-radius: 15px;

}
.topimg2
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/aucoeurdeleau.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid white;
}
.topinfo2
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix2
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}
.topcarte3
{
    width: 300px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 6 / 2 / 7 / 4 ;
    grid-template: 55px 45px 35px / 100px 200px ;
    border-radius: 15px;

}
.topimg3
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/bleuetblanc.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid white;
}
.topinfo3
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix3
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}
.activites
{
    width: 1050px;
    height: 520px;
    display: grid;
    grid-template: 70px 120px 30px 100px 50px 120px 30px / 25px 232px 20px 232px 20px 232px 20px 232px 25px;
    
    
}
.activites h1
{
    grid-area: 1 / 2 / 2 / 5;
    font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;

}
.activites1
{
    width: 232px ;
    height: 450px ;
    display: grid;
    grid-template:  400px 50px / 232px ;
    grid-area: 2 / 2 / 8 / 3;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
    
}
.img1
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/vieuxport.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;  
}
.nom1
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites2
{
    width: 232px ;
    height: 200px ;
    display: grid;
    grid-template:  150px 50px / 232px ;
    grid-area: 2 / 4 / 5 / 5;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
}
.img2
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/pomegues.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom2
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites3
{
    width: 232px ;
    height: 150px ;
    display: grid;
    grid-template:  100px 50px / 232px ;
    grid-area: 6 / 4 / 8 / 5;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
}
.img3
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/frioul.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom3
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites4
{
    width: 232px ;
    height: 450px ;
    display: grid;
    grid-template:  400px 50px / 232px ;
    grid-area: 2 / 6 / 8 / 7;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
}

.img4
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/calanques.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;  
}
.nom4
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;
}
.activites5
{
    width: 232px ;
    height: 150px ;
    display: grid;
    grid-template:  100px 50px / 232px ;
    grid-area: 2 / 8 / 4 / 9;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
}
.img5
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/notredamedelagarde.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom5
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites6
{
    width: 232px ;
    height: 200px ;
    display: grid;
    grid-template:  150px 50px / 232px ;
    grid-area: 5 / 8 / 7 / 9;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.5);
}
.img6
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/longchamp.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom6
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

#navfooter
{
    width: 1050px;
    height: 200px;
    display: flex;
    padding: 25px ;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
}
.apropos li 
{
    list-style-type: none;
    
}
.Noshebergement li
{
    list-style-type: none;
}
.assistance li
{
    list-style-type: none;
}
#navfooter nav a
{
    color: black;
    font-size: 0.5em;
    padding-bottom: 10px;
    text-decoration: none;
} 
#navfooter nav a:hover
{
    color: #0065fc;
    
}