/*police*/
@font-face 
{
    font-family: 'raleway';
    src :url(font/Raleway-Italic-VariableFont_wght.ttf),
         
    
}
body
{
    width: 1270px;
    margin: auto;
    font-family: 'raleway', Arial, Helvetica, sans-serif
}
/*css du header*/
.header
{
    width: 100%;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}
/*titres et logo fini*/
#titre_principal h1 
{
  
  margin-bottom: 0%;
  padding-bottom: 0%;
  font-size: 1.5em;
}
h2
{
    font-weight: 200;
    margin-top: 0%;
    padding-top: 10px;
    font-size: 1em;
}
/*navigation ne pas oublier les ancres*/
.header nav ul
{
    
    list-style-type: none;
    display: flex;
    
}
.header  nav li
{
    margin-right: 20px;
}
.header nav a
{
    color: black;
    font-size: 1.2em;
    padding-bottom: 10px;
    text-decoration: none;
}
.header nav a:hover 
{
    color: #0065fc;
    border-top: 3px solid ;
    padding-top: 40px;
}
#sinscrire
{
    color: #0065fc;
    border-top: none;
    font-weight: 600;
}

/*barre de recherche*/
.fa-map-marker-alt
{    
    padding: 11px 10px 11px 10px ;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;    
}
.recherche
{
    
    width: 30% ;
    height: 40px;
    justify-content: space-around;
    border: 1px solid #f2f2f2;
    border-radius: 10px;    
    
}
.champs
{
    border: none;
    width: 210px;
    height: 37px;
    font-size: 1em;
    font-weight: 700;
    
}
.bouton
{
    background-color: #0065fc;
    width: 130px;
    height: 40px;
    font-size: 20px ;
    font-weight: 600;
    border: none;
    border-radius: 0px 10px 10px 0px; 

        
}

/*ne plus toucher*/
#logements
{
    
    line-height: 80px ;
}

.fa-info
{
    color: #0065fc;
    border-radius: 25px;
    border: 1px solid;
    border-color: #f2f2f2;
    padding: 5px 10px 5px 10px;
}

/*filtre manque le hover*/
.filtres 
{
    width: 70%;
  height: 60px;
  display: flex;
  justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-weight: 600;
  
}
.filtres input[type="checkbox"]
{
  -webkit-appearance : none;
  -moz-appearance : none;
}
label a
{
    color: black;
    text-decoration: none;
}
.checkbox1
{
   border: 1px solid #f2f2f2;
   width: 150px;
   height: 36px;
   border-radius: 25px;
   
}
.fa-money-bill-wave
{
    color: #0065fc;
    padding: 10px 10px 10px 10px;
    border-radius: 25px 25px 25px 25px;
    align-items: center;
    background-color: #deebff;
} 
.checkbox1 :hover
{
    background-color: #deebff;
    border-radius: 25px; 
    font-weight: 600;   
}
.checkbox2
{
   border: 1px solid #f2f2f2;
   width: 130px;
   height: 35px;
   border-radius: 25px;
}
.fa-child
{    
    color: #0065fc;
    padding:  10px 11px 10px 11px;
    border-radius: 25px;
    background-color: #deebff;
    
}
.checkbox2:hover
{
    background-color: #deebff;
    border-radius: 25px; 
    font-weight: 600;   
}


.checkbox3
{
   border: 1px solid #f2f2f2;
   width: 150px;
   height: 35px;
   border-radius: 25px;
   
}
.fa-heart
{
    color: #0065fc;
    padding: 10px;
    border-radius: 25px;
    background-color: #deebff;
    
}
.checkbox3:hover
{
    background-color: #deebff;
    border-radius: 25px; 
    font-weight: 600;   
}

.checkbox4
{
   border: 1px solid #f2f2f2;
   width: 200px;
   height: 35px;
   border-radius: 25px;

   
}

.fa-dog
{
    color: #0065fc;
    padding: 10px;
    border-radius: 25px;
    background-color: #deebff;
    
}
.checkbox4:hover
{
    background-color: #deebff;
    border-radius: 25px; 
    font-weight: 600;   
}

/*resultats*/
.resultats
{
    display: flex;
    justify-content: space-around;
    width: auto;
}
/*hebergement manque les etoiles*/
.hebergement
{
   width: 830px;
   height: 550px;
   display: grid;
   background-color: #f2f2f2;
   border-radius: 15px;
   grid-template:  70px 185px 25px 185px 70px / 30px 240px 25px 240px 25px 240px 30px; 
}
h1
{
   grid-area: 1 / 2 / 2 / 5 ;
   font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;
}
.hebergement h2
{
    grid-area: 5 / 2 / 6 / 3;
    font-size: 15px;
    padding: 30px 10px 10px 0px;
    
}

.carte1 
{
    width: 240px;
    height: 185px;
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3, 80px);    
    border-radius: 15px ;
    grid-area: 2 / 2 / 3 / 3 ; 
    transition: 0.5s;

}

.carte1:hover
{
    
        transform: scale(1.1);    
    
}

.divimg1
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/cannebiere.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 4px solid white;   
}
.info1
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix1
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.fa-star
{
    color: #0065fc;
    grid-area: 5 / 1 / 6 / 2;
    font-size: 0.7em;
}
.carte2 

{
    width: 240px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,80px);    
    border-radius: 15px ; 
    grid-area: 2 / 4 / 4 / 5; 
    transition: 0.5s;

}
.carte2:hover
{
    
        transform: scale(1.1);    
    
}

.divimg2
/*debut rengée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/port.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid white; 
}
.info2
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix2
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte3 
{
    width: 240px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3, 80px);    
    border-radius: 15px ; 
    grid-area: 2 / 6 / 4 / 7; 
    transition: 0.5s;

}
.carte3:hover
{
    
        transform: scale(1.1);    
    
}

.divimg3
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/mouettes.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid white;  
}
.info3
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix3
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte4 
{
    width: 240px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,80px);    
    border-radius: 15px ; 
    grid-area: 4 / 2 / 6 / 3;
    transition: 0.5s;

}
.carte4:hover
{
    
        transform: scale(1.1);    
    
}

.divimg4
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/mer.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 4px solid white; 
}
.info4
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix4
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte5 
{
    width: 240px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,80px);    
    border-radius: 15px ; 
    grid-area: 4 / 4 / 6 / 5; 
    transition: 0.5s;

}
.carte5:hover
{
    
        transform: scale(1.1);    
    
}

.divimg5
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/panier.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
    border: 4px solid white; 
}
.info5
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix5
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.carte6 
{
    width: 240px;
    height: 185px;    
    background-color: white;
    display: grid;
    grid-template: repeat(2, 55px) repeat(3,25px)
    /repeat(3,80px);    
    border-radius: 15px ; 
    grid-area: 4 / 6 / 6 / 7; 
    transition: 0.5s;

}
.carte6:hover
{
    
        transform: scale(1.1);    
    
}

.divimg6
/*debut rangée / debut col /fin rangée / fin col*/
{
    grid-area: 1 / 1 / 3 / 4;
    background: url(images/amina.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px; 
    border: 4px solid white;
}
.info6
{
    grid-area: 3 / 1 / 4 / 4 ;
    font-size: 15px;
    font-weight: 600;
    padding: 5px ;    
}
.prix6
{
    grid-area: 4 / 1 / 5 / 4 ;
    font-size: 10px;
    padding: 5px ;
}
.star
{
    display: flex;
}

/*populaires manque le logo coin haut droit*/
.top
{
    background-color: #f2f2f2;
    height: 550px;
    width: 400px ;
    border-radius: 15px;
    display: grid;
    grid-template: 70px 135px 25px 135px 25px 135px 20px / 25px 150px 150px 25px 
}
.fa-chart-line
{
    grid-area: 1 / 4;
    font-size: 1.5em;
    padding: 25px;

}
.top h1
{
   grid-area: 1 / 2 / 2 / 4 ;
    font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;
}
.topcarte1
{
    width: 345px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 2 / 2 / 3 / 4 ;
    grid-template: 55px 45px 35px / 145px 200px ;
    border-radius: 15px;
    transition: 0.5s;

}
.topcarte1:hover
{
    
        transform: scale(1.1);    
    
}
.topimg1
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/soleil\ du\ matin.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid white;
}
.topinfo1
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix1
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}
.topcarte2
{
    width: 345px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 4 / 2 / 5 / 4 ;
    grid-template: 55px 45px 35px / 145px 200px ;
    border-radius: 15px;
    transition: 0.5s;

}
.topcarte2:hover
{
    
        transform: scale(1.1);    
    
}
.topimg2
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/aucoeurdeleau.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid white;
}
.topinfo2
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix2
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}
.topcarte3
{
    width: 345px;
    height: 135px;
    background-color: white;
    display: grid;
    grid-area: 6 / 2 / 7 / 4 ;
    grid-template: 55px 45px 35px / 145px 200px ;
    border-radius: 15px;
    transition: 0.5s;

}
.topcarte3:hover
{
    
        transform: scale(1.1);    
    
}
.topimg3
{
    grid-area: 1 / 1 /4 / 2;
    background: url(images/bleuetblanc.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 0px 0px 15px;
    border: 4px solid white;
}
.topinfo3
{
    grid-area: 1 / 2 / 2 / 3 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px ;
}
.topprix3
{
    grid-area: 2 / 2 / 3 / 3  ;
    font-size: 10px;
    padding: 10px;
}

/*activité reste a finir la mises en pages certainement modifier les grilles*/
.activites
{
    width: auto;
    height: 600px;
    display: grid;
    justify-content: right;
    grid-template: 70px 150px 30px 60px 60px 50px 150px 30px /  300px 20px 300px 20px 300px 20px 300px ;
    
    
}
.activites h1
{
    grid-area: 1 / 2 / 2 / 5;
    font-size: 20px;
   padding: 10px 10px 10px 0px;
   font-weight: 700;

}
.activites1
{
    width: 300px ;
    height: 500px ;
    display: grid;
    grid-template:  450px 50px / 300px ;
    grid-area: 2 / 2 / 8 / 3;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);



}
.img1
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/vieuxport.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;  
}
.nom1
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites2
{
    width: 300px ;
    height: 250px ;
    display: grid;
    grid-template:  200px 50px / 300px ;
    grid-area: 2 / 4 / 5 / 5;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
}
.img2
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/pomegues.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom2
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites3
{
    width: 300px ;
    height: 200px ;
    display: grid;
    grid-template:  150px 50px / 300px ;
    grid-area: 6 / 4 / 8 / 5;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
}
.img3
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/frioul.jpg);
    background-size: 120%;
    background-position-y: top ;
    background-position-x: right; 
    border-radius: 15px 15px 0px 0px;
}
.nom3
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites4
{
    width: 300px ;
    height: 500px ;
    display: grid;
    grid-template:  450px 50px / 300px ;
    grid-area: 2 / 6 / 8 / 7;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
}

.img4
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/calanques.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;  
}
.nom4
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;
}
.activites5
{
    width: 300px ;
    height: 180px ;
    display: grid;
    grid-template:  130px 50px / 300px ;
    grid-area: 2 / 8 / 4 / 9;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
}
.img5
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/notredamedelagarde.jpg);
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 15px 15px 0px 0px;
}
.nom5
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

.activites6
{
    width: 300px ;
    height: 260px ;
    display: grid;
    grid-template:  210px 50px / 300px ;
    grid-area: 5 / 8 / 7 / 9;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0,0, 0, 0.2);
}
.img6
{
    grid-area: 1 / 1 / 2 / 2;
    background: url(images/longchamp.jpg);
    background-size: 125%;
    background-position-y: top ;
    background-position-x: center;
    border-radius: 15px 15px 0px 0px;
}
.nom6
{
    grid-area: 2 / 1 / 3 / 2 ;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 10px 10px 5px ;    
} 

/* footer fini*/

#navfooter
{
    width: auto;
    height: 100px;
    display: flex;
    padding: 25px 350px 25px 25px ;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 600;
    background-color: #f2f2f2;
    
}
.apropos ul li
{
    list-style-type: none;    
}
.Noshebergement li
{
    list-style-type: none;

}
.assistance li
{
    list-style-type: none;

}
#navfooter nav a
{
    color: black;
    font-size: 0.5em;
    padding-bottom: 10px;
    text-decoration: none;
} 
#navfooter nav a:hover
{
    color: #0065fc;
    
}